<div class="todo_list_component">
  <p *ngIf="isAdmin">Hello Admin</p>
<div class="table_header">
  <h3>Dear {{userName}}, welcome to the list of TODOS</h3>
</div>
  <h3 routerLink="/form" class="redirect">ADD NEW TODO</h3>
  <table class="page_toggle">
    <tr>
      <td>
        <button *ngIf="prevIsActive" (click)="prevPage()">Previous</button>
      </td>
      <td>
        {{this.page+1}}
      </td>
      <td>
        <button *ngIf="nextIsActive" (click)="nextPage()">Next</button>
      </td>
    </tr>
  </table>
  <table class="table">
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>In Progress</td>
      <td>Done</td>
      <td>Other</td>
    </tr>
  </table>

<app-todo-item
  *ngFor="let todo of todos"
  [todo] = "todo"
></app-todo-item>
</div>
<app-todo-edit-modal></app-todo-edit-modal>


