<nav class="navbar" *ngIf="this.auth.isLoggedIn">
  <a class="name" routerLink="">TODO APP </a>
  <a routerLink="/form">Create new todo </a>
  <a routerLink="/todolist">Todo List </a>
  <a routerLink="/users">Users </a>
  <a routerLink="/registration">Registration</a>
  <div class="logout_block">
    <img src="./assets/img/image-removebg-preview%20(2).png">
    <button
      (click)="onLogout()"
      *ngIf="auth.isLoggedIn"
      class="logout_button">Logout
    </button>
  </div>

</nav>

<h1 class="header">
  <h2>Welcome to my Todo App</h2>
</h1>
