.todo_item_component {
  padding: 10px;
  margin: 10px;
  width: 90vw;
  display: flex;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
}

.todo_item_component tr td {
  width: 200px;
}

.button {
  padding: 5px;
  margin: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: grey;
  transition-delay: 0.8ms;
}
