.user_item_component {
  margin: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #dedcdc;
  box-shadow: 5px 10px #888888;
  white-space: nowrap;
  min-width: fit-content;
}

.user_item_component tr td {
  width: 50vw;
  text-align: center;
}

.open_profile_btn {
  padding: 5px;
}

.open_profile_btn:hover {
  cursor: pointer;
}
