.login {
  padding: 20px;
  margin: 20px 40px 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: #dedcdc;
  box-shadow: 5px 10px #888888;
  height: 30vh;
}

input {
  padding: 0.3rem;
  margin: 1rem;
  border: 0;
  border-bottom: 0.1rem solid grey;
  outline: 0;
}

input:focus {
  transition: 0.5s ease;
  border-bottom: 0.3rem solid grey;
}

button {
  padding: 0.5rem;
}
