<div class="form_component">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <h3>Todo Form</h3>
  <table>
    <tr>
      <td>
        <input
          type="text"
          name="name"
          formControlName="name"
          placeholder="Todo name"
          class="form_input"
        >
      </td>
    </tr>
    <tr>
      <td>
        <textarea
          type="text"
          name="description"
          formControlName="description"
          placeholder="Description"
          class="form_textarea"
        ></textarea>
      </td>
    </tr>
  </table>
  <button type="submit" [disabled]="!form.valid" class="formButton">Submit</button>
  </form>
  <h3 class="form_component_footer" routerLink="/todolist">GO TO TODO LIST</h3>
</div>

