.form_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 20px;
  margin: 0 40px 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dedcdc;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
}

.formInput, .formButton {
  padding: 10px;
  margin: 5px;
}

.form_component_footer {
  padding: 10px;
  margin: 10px;
  background-color: #dedcdc;
  border-radius: 20px;
}

.form_component_footer:hover {
  cursor: pointer;
  background-color: #1fff00;
}
