<div class="form_component">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <h3>Todo Form</h3>
  <table>
    <tr>
      <td>
        Todo Name
      </td>
      <td>
        <input type="text" name="name" formControlName="name">
      </td>
    </tr>
    <tr>
      <td>Todo Description</td>
      <td>
        <input type="text" name="description" formControlName="description">
      </td>
    </tr>
  </table>
  <button type="submit" [disabled]="!form.valid" class="formButton">Submit</button>
  </form>
  <h3 class="form_component_footer" routerLink="/todolist">GO TO TODO LIST</h3>
</div>

